<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
    <h4>
  Retail Campaign Details: {{ title }}
  </h4>
    <hr>
    <div class="row">
  <div class="col">Campaign Type:</div>
  <div class="col">Line Make:</div>
  <div class="col">From Date:</div>
  <div class="col">To Date:</div>
</div>
    <ag-grid-angular  #agGrid style="height: 300px;"   [columnDefs]="columnDefs"
    rowSelection="multiple" [enableFilter]="true" [enableSorting]="true" class="ag-theme-material table" [rowData]="rowData" [columnDefs]="columnDefs">
    </ag-grid-angular>


</div>